#header{
    text-align:center;
    
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size:35px;
    padding-top:40px;
    margin-left:40px;
    margin-right:40px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size:14px;
    font-style:italic;
}

#publication{
    font-family: 'Comme', sans-serif;
    font-size:20px;
    text-align: center;
    font-style:normal;
}

#byline{
    font-family: 'Comme', sans-serif;
    font-size:15px;
    text-align:center;
}

#head-photo{
    width: 80%;
    padding:30px 0px 5px 0px;
}

#body-photo{
    width:70%;
    padding: 0px 0px 5px 0px;
}

.caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    text-align: center;
}

.lead-caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    width: 80%;
    margin:auto;
}

.caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    width: 70%;
    margin:auto;
    padding: 0px 0px 10px 0px;
}

p{
    font-family:'Comme', sans-serif;
    font-size:16px;
}
.letter-start{
    font-family: 'Playfair Display', serif;
    font-size:30px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size:30px;
    text-align: center;
}

#body{
    width: 70%;
}

.pull-quote{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: bold;
    color: #3E92CC;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

.attribution{
    font-family: 'Playfair Display', serif;
    font-size:20px;
    color: #3E92CC;
    text-align:center;
    padding:0px 0px 50px 0px;
}
