@media {

#header{
    text-align:center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size:35px;
    padding-top:40px;
    margin-left:40px;
    margin-right:40px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size:14px;
    font-style:italic;
}

#publication{
    font-family: 'Comme', sans-serif;
    font-size:20px;
    text-align: center;
    font-style:normal;
}

#byline{
    font-family: 'Comme', sans-serif;
    font-size:15px;
    text-align:center;
}

#head-photo{
    width: 80%;
    padding:30px 0px 5px 0px;
}

#cleaning-unit-photo{ 
    width: 70%;
    margin-left:11%
}

#dog-photo{
    width: 70%;
    margin-left:14%;
}

.lead-caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    width: 80%;
    margin:auto;
}

.caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    width: 70%;
    margin:auto;
    padding: 0px 0px 10px 0px;
}

p{
    font-family:'Comme', sans-serif;
    font-size:18px;
}
.letter-start{
    font-family: 'Playfair Display', serif;
    font-size:34px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size:30px;
    text-align: center;
}

#body{
    width: 70%;
}

.quote-line{
    height: 2px;
    background-color: #edad08;
    align-content:flex-start;
}

.pull-quote{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: bold;
    color: #3E92CC;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

.attribution{
    font-family: 'Playfair Display', serif;
    font-size:20px;
    color: #3E92CC;
    text-align:center;
    padding:0px 0px 50px 0px;
}

#footer {
    background-color: #3E92CC;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    bottom: 0;
}

#back-to-top{
    background-color: #edad08;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    border: none;
    width: 200px;
    border-radius: 20px;
    margin: auto;
    
}
}

@media (min-width: 576px){
    h1{ font-size: 24px;}
    h2{ font-size 12px;}
    #publication{font-size:16px;}
    #byline{font-size:12px;}
    .lead-caption{font-size:10px;}
    .caption{font-size:10px;}
    #cleaning-unit-photo{width:80%;}
    #dog-photo{80%:}
}

    