#header{
    text-align:center;
    
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size:35px;
    padding-top:40px;
    margin-left:40px;
    margin-right:40px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size:14px;
    font-style:italic;
}

#publication{
    font-family: 'Comme', sans-serif;
    font-size:20px;
    text-align: center;
    font-style:normal;
}

#byline{
    font-family: 'Comme', sans-serif;
    font-size:15px;
    text-align:center;
}

#head-photo{
    width: 80%;
    padding:30px 0px 5px 0px;
    
}

.caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    text-align: center;
}

.lead-caption{
    font-family: 'Comme', sans-serif;
    font-size:12px;
    color:#5D5959;
    width: 80%;
    margin:auto;
}


p{
    font-family:'Comme', sans-serif;
    font-size:16px;
}
.letter-start{
    font-family: 'Playfair Display', serif;
    font-size:30px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size:30px;
}

#body{
    width: 80%;
}