.container-fluid {
    background-color:#E2B6C2;
}

head {
    font: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #040F0F;
    background-color:#FFFCF7;
}

h1{
    font: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #040F0F;
}

h2{ 
      font-family: "transat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #040F0F;
}

body {
    font-family: "transat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #040F0F;
    background-color:#FFFCF7;
}

#headshot {
    border-radius: 5px;
}