.container-fluid {
    background-color:#E2B6C2;
}

head {
    font: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #040F0F;
    background-color:#FFFCF7;
}

h1{
    font: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFCF7;
    margin: 10px;
    padding: 5px;
}

h2{ 
    font-family: "transat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FFFCF7;
    margin: 10px;
    padding: 5px;
}

body {
    font-family: "transat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #040F0F;
    background-color:#FFFCF7;
}

#headshot {
    width: 200px;
    border-radius: 500px;
    margin: 10px 0px 0px 20px;
    border: 5px #E2B6C2;
    float: right;
}